/* CSS Document */
body td{
	font-size:12px;
	color: #515151;
}

.bottomline2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.fonts14px {
	font-family: "宋体";
	font-size: 14px;
}
.redfonts {
}
.hanggao {
	line-height: 150%;
}






.bold {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.bold:hover {
	color: #000000;
	text-decoration: underline;
}

.news{color:#4B4B4B;text-decoration:none;}
a.news:hover{text-decoration:underline;}

.bot {color:#06468D;text-decoration: none;}
a.bot:hover{text-decoration: underline;}

.hangqing{color:#4B4B4B;text-decoration:none;cursor:hand;}
/*导航*/

.input{border:1px solid #ABABAB;height:21px;width:128px;padding:2px; font-size:12px; color:#8B8B8B;}
.bt{border:0px; width:80px; height:23px; color:#FFFFFF; background-color:#666666;margin-left:3px;font-size:12px;}

.update{color:#00498E;text-decoration:underline;}

#nv{}
#nv td{text-align:center;}
.nv{text-decoration:none;color:#FFFFFF;height:22px;}
a.nv:hover{text-decoration:none;color:#F5E400;height:22px;background-image:url(../../images_new/dot.jpg);background-position:center;}


.click{background-image:url(../../images_new/dot.jpg);background-position:center;height:22px;text-decoration:none;color:#FFFFFF;}
a.click:hover{text-decoration:none;color:#F5E400; height:22px}

.nv1{text-decoration:none;color:#000000;}
a.nv1:hover{text-decoration:underline;}

.title{font-size:14px;font-weight:bold;color:#0C54A1;}
ul{margin:0px; padding-left:15px; padding-right:15px; background-image:url(../../images_new/jiao2.jpg); background-repeat:no-repeat;}
.list1{font-size:12px;list-style:none;line-height:150%; padding-left:5px;}

.bt{ border:0px; width:80px; height:22px; color:#FFFFFF; background-color:#666666;}

.borde{border:1px solid #EAEAEA; border-bottom:0px;}
.bord1{border:1px solid #EAEAEA;}
.boldu{font-weight:bold;border-bottom:1px solid #2F597F;}
#n td{padding-left:5px;}
#n li{list-style-image:url(../../images_new/jiao1.jpg);line-height:150%;}
.link1 {
	color: #0A4685;
	text-decoration: none;
}

.greenfonts {
	color: #7A8CC5;
	text-decoration: none;
}
.bgnone {
	background-repeat: no-repeat;
}

.redfonts {
	color: #FF0000;
	text-decoration: none;
}
.greyfonts {
	color: #878787;
	text-decoration: none;
}
.px1 {
	font-size: 1px;
}
.fonts {
	font-family: Arial, Helvetica, sans-serif;
	color: #464646;
	text-decoration: none;
	font-weight: bold;
}





#m{width:175px;height:70px;border:1px solid #F0F0F0;margin-top:8px;}
	#m td{font-size:12px;font-weight:bold;}
	#m img{margin-top:5px;}
.biankuang {
	border: 1px solid #CCCCCC;
	height: 16px;
}
.boldfonts {
	text-decoration:none;
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.orangefonts {
	color: #F08365;
	text-decoration: none;
}
a orangefonts:hover {
	color: #F08365;
	text-decoration: underline;
}
.bottomline {
	background-attachment: fixed;
	background-image: url(../../images_new/qjs_23.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}
.bottomline1 {
	background-attachment: fixed;
	background-image: url(../../images_new/qjs_27.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.blackfonts {
	color: #000000;
	text-decoration: none;
}
a blackfonts:hover {
	color: #000000;
	text-decoration: underline;
}



/*Left*/
.leftmenu{color:#524C4A;text-decoration:none;}
a.leftmenu:hover{text-decoration:underline;}

.leftmenus{color:#999BC9;text-decoration:none;}
a.leftmenus:hover{text-decoration:underline;}
/*END Left*/
.btCopy {
border:0px; width:40px; height:18px; color:#FFFFFF; background-color:#666666;margin-left:3px;font-size:12px;
}
.dot{list-style-image:url(../../images_new/li.gif)}